.navimg{
  width: 6rem;
  
}
.input{
    height:45px;
    width: 300px;
    border:2px solid#d6d4d4;
}
.input:focus {
  border-color: #198754 !important;
  outline: none;
}
/* .hoverDropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
} */
.hoverDropdown :global(.dropdown-menu) {
  display: none;
}

.hoverDropdown:hover :global(.dropdown-menu) {
  display: block !important;
  margin-top: 0;
}
.liHover:hover{
    background-color: #82cea6;
  border-radius: 2rem;
}
/* .fixedNavbar {
  position: fixed !important;
  top: 0  !important;
  left: 0  !important;
  right: 0  !important;
  z-index: 500 !important;
  background-color: white  !important;
} */
.navLoginBtn:hover{
color: white !important;
}

.changeBg{
    color: black !important;
    background-color: transparent !important;
}
.changeBg:hover{
    color: black !important;
    font-weight: bold;
    background-color:gray !important;
    border-radius: 10px;
}