/* slider css */


.previousicon {
background-image: url("https://cdn-icons-png.flaticon.com/512/2985/2985161.png") !important;
    background-color:  white;
    color: black;
    border-radius: 24px;
    
} 
.nexticon{
    background-image: url("https://cdn-icons-png.flaticon.com/128/2985/2985179.png") !important;
    background-color:  white;
    color: black;
    border-radius: 24px;
    
}
/* for slider */
@media (min-width:1200px){
   .previousicon{
     margin-left: -7rem;
   } 
   .nexticon{
    margin-right: -7rem;
   }
}
@media(max-width:576px){
   .slide{
    height: 100% !important;
   } 
  
}

 /* login btn css */
 .loginbtn{
  background-color: green;
 }
.loginbtn:hover{
background-color: rgb(14, 102, 14);

}
.loginmain{
  background: url('https://images.unsplash.com/photo-1511735643442-503bb3bd348a?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y3JvcHN8ZW58MHx8MHx8fDA%3D');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* height: 100%;  */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.logbtn{
  width: 100%;
}
.submitbtn:hover{
background-color: rgb(14, 102, 14) ;
font-weight:bold;
}
.registerbackground{
  background-color: transparent;

}
.registerbackground:hover{
background-color: rgb(166, 211, 166);
}
.mainregister{
   background: url('https://images.unsplash.com/photo-1511735643442-503bb3bd348a?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y3JvcHN8ZW58MHx8MHx8fDA%3D');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

/* register page css */
  .mainregister{
    margin-top: 7rem;
  }
.innerdivregister{
min-width: 100%;
max-width: 600px;
 background-color: rgb(240, 240, 179) !important;
 opacity: 0.7;
 
height: 100%;
 padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) !important;
}
/* trending btn css */
.trendingbtn{
  background: rgb(69,120,78);
}

/* trendimg css */
.trendimg{
  height: 100%;
  width: 100%;
  /* padding: 5px; */
}
.contourfarmingimg{
  width: 100%;
}

/* login form css */

  .form-container{
   background-color: rgb(240, 240, 179) !important;
 opacity: 0.7;
  padding: 30px !important;
  border-radius: 10px;
  min-width:100% !important;
  height: 100%;
  max-width: 600px !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin-top: 7rem !important;
}
.form-container>label{
   color: black !important;
  font-weight: bold;
}
 .form-container>input{
border: 1px solid black !important;
 }
.form-control:focus {
  box-shadow: none !important;
}
.form-floating > label {
  color: black !important;
  font-weight: bold;
}

.form-check-label{
  color: black !important;
  font-weight: bold;
}
.form-label{
   color: black !important;
  font-weight: bold;
}
.form-check-input{
  font-weight: bold;
  border: 1px solid black !important;
}
.form-check-input:checked{
    box-shadow: 0 0 20px rgba(6, 6, 6, 0.2) !important;
    background-color: black !important;
}
.form-control {
 font-weight: bold;
  color: black !important; 
  background-color: transparent;
  border: 1px solid rgb(155, 151, 151) !important;
}
 .form-control{
  border: 1px solid rgb(155, 151, 151) !important;
 }

.inputdiv{
   max-height:100%  !important;
  width: 100% ;
  padding: 0 0 !important;
}
.inputdivaddress{
  width: 100%;
}
.mainregister{
height: 100%;
width:100%;
}




